*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(229, 233, 235);
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(0, 23, 61);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    z-index:1000; /*add z-index*/
}

.logo{
    font-size: 24px;
    color: rgb(101, 158, 195);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(215, 222, 233);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

a:hover{
    color: rgb(253, 208, 7);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(253, 208, 7); 
    margin: 5px;
    transition: all 0.1s ease;
}

@media screen and (max-width:1024px){
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
  .nav-links{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 10vh;
      color: rgb(68, 99, 150);
      background-color: rgb(0, 23, 61);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav-links li{
      opacity: 0;
  }
  .burger {
      display: block;
  }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Footer */