.carousel-sliders {
  position: relative;
  width: 710px;
  margin: auto;
  height: 400px;
}

.carousel-sliders-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;
  z-index: 10;
  padding: 20px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}

.carousel-caption h3 {
  margin-top: 0;
  margin-bottom: 0;
  transform: translate(-100%, 0);
}

.slide {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.slide.active .carousel-caption h3 {
  transform: translate(0, 0);
  animation: titleAnimtion 1s;
}

@keyframes titleAnimtion {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}


@keyframes textAnimtion {
  0% {
    transform: translate3D(0, 60px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
}

.carousel-controls {
  width: 15%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.carousel-controls.left {
  left: 0;
}

.carousel-controls.right {
  right: 0;
}

.prevSlide,
.nextSlide {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.prevSlide.inactive,
.nextSlide.inactive {
  cursor: default;
}

.prevSlide.inactive .prevIcon {
  border-right-color: #717070;
}

.nextSlide.inactive .nextIcon {
  border-left-color: #717070;
}

.prevIcon {
  margin: 10px 12px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #ffffff;
  border-bottom: 15px solid transparent;
}

.nextIcon {
  margin: 10px 20px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ffffff;
  border-bottom: 15px solid transparent;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  cursor: pointer;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, .5);
}

.carousel-indicators .active {
  background-color: #fff;
  cursor: default;
}